---
- name: Обновить кэш пакетов
  ansible.builtin.apt:
    update_cache: true
  when: ansible_os_family == 'Debian'

- name: Установить Docker и зависимости
  ansible.builtin.apt:
    name:
      - docker.io
      - python3-docker
      - ca-certificates
      - curl
    state: present
  when: ansible_os_family == 'Debian'

- name: Включить и запустить сервис docker
  ansible.builtin.service:
    name: docker
    state: started
    enabled: true

- name: Добавить пользователя ubuntu в группу docker
  ansible.builtin.user:
    name: ubuntu
    groups: docker
    append: true

